<html>
<head>
  <meta charset="UTF-8">
  <title>5/3/1 Strength</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</head>
<body>
  <h1>5/3/1 Strength Tracker</h1>
  <div id="create">
    <input id="entry" placeholder="enter lift..." type="text"></input>
    <button id="publish-entry">Submit</button>
  </div>
  <div id="blog-feed"></div>
  </div>
</body>
</html>
